{% extends 'base.html.twig' %}

{% block body %}
    <h1>Annonce</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ annonce.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ annonce.titre }}</td>
            </tr>
            <tr>
                <th>Nomentreprise</th>
                <td>{{ annonce.nomentreprise }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ annonce.lieu }}</td>
            </tr>
            <tr>
                <th>Descriptive</th>
                <td>{{ annonce.descriptive }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ annonce.prix }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('annonce_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('annonce_edit', { 'id': annonce.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
